AplicacionTarjetas/Connected Services/ServicioTarjetas/ServiceEmisor3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56441/ServiceEmisor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Modelo" />
  <xs:import schemaLocation="http://localhost:56441/ServiceEmisor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEmisor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEmisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Modelo" minOccurs="0" name="ConsultarEmisorResult" nillable="true" type="q1:ArrayOfEMISOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmisorTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmisorTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEmisorTarjetaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas.Modelo" minOccurs="0" name="ObtenerInformacionTarjetaResult" nillable="true" type="q2:TARJETA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarTarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarTarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarTarjetaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicioTarjetas" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>